name: Spanner Discord Bot
on:
  schedule:
    - cron: '45 * * * *'
jobs:
  ping:
    if: always()
    runs-on: 	ubuntu-20.04
    steps:
      - name: Set Timezone
        # You may pin to the exact commit or the version.
        # uses: szenius/set-timezone@dd47655c84241eec2ffa0a855959c16c0920c3c4
        uses: szenius/set-timezone@v1.0
        with:
          # Desired timezone for Linux
          timezoneLinux: "Asia/Kolkata"
      - run: |
          echo 'DAY_OF_WEEK<<EOF' >> $GITHUB_ENV
          date +%u >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV
      - run: |
          echo 'HOUR_OF_DAY<<EOF' >> $GITHUB_ENV
          date +%H >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV          
      -  if: env.DAY_OF_WEEK != 7 && 7 <= env.HOUR_OF_DAY <= 23
         run: curl https://spanner-discord-bot-obnerd.herokuapp.com/
